version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: productdb
    ports:
      - "3306:3306"
    networks:
      - backend

  app:
    build: .
    container_name: product-service
    ports:
      - "8090:8090"
    depends_on:
      - mysql
    networks:
      - backend

networks:
  backend:
    driver: bridge
